<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <!-- Mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Сотрудники</title>
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="bower_components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/css/bootstrap-material-design.css">
    <link rel="stylesheet" href="bower_components/bootstrap/css/ripples.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/css/smoke.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <script src="js/pace.min.js"></script>
    <link rel="stylesheet" href="css/dataurl.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<style>
    #nav{
        color: black;
        background-color: white;
        box-shadow: 0 16px 10px -12px rgba(0,0,0,0.3);
        border: 0;
    }
</style>

<div class="navbar navbar-inverse" id="nav">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="  navbar-brand" href="#/"><b>Список</b></a>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="searchKeyword" placeholder="Search">
            </div>
            </form>
        </div>

        <div class="navbar-collapse collapse navbar-inverse-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/books/add"><b>Добавить сотрудника</b></a></li>


                 <!--Button trigger modal-->
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Добавить
                </button>
            </ul>
        </div>
    </div>


  </div>
   </div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div ng-view></div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>

            <div class="modal-body">

                <a class="btn btn-danger "data-dismiss="modal" aria-label="Close" href="#/books">Назад</a>
                <div class="panel panel-success">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" id="form" ng-submit="addBook()" novalidate>
                                    <center><legend><b>Добавить сотрудника</b></legend></center>
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="input1"  class="col-md-2 control-label">Имя</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="input1"  ng-model="book.name" placeholder="Имя" data-smk-msg="Please fill out this field" required>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="input2" class="col-md-2 control-label">Отчество</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="input2" ng-model="book.patronymic" placeholder="Отчество" data-smk-msg="Please fill out this field" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="input3" class="col-md-2 control-label">Фамилия</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="input3" ng-model="book.surname" placeholder="Фамилия" data-smk-msg="Please fill out this field" required>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="select111" class="col-md-2 control-label">Должность</label>

                                            <div class="col-md-10">
                                                <select id="select111" ng-model="book.genre" class="form-control">
                                                    <option>Программист</option>
                                                    <option>Дизайнер</option>
                                                    <option>Менеджер</option>
                                                    <option>Персонал</option>
                                                    <option>Обучающийся</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="input4" class="col-md-2 control-label">Пол</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="input4" ng-model="book.sex" placeholder="Пол" data-smk-msg="Please fill out this field" required>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="input5" class="col-md-2 control-label">Телефон</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="input5" ng-model="book.phone" placeholder="Телефон" data-smk-msg="Please fill out this field" required>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="input6" class="col-md-2 control-label">Начало дня</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="input6" ng-model="book.work_start" placeholder="Начало рабочего дня" data-smk-msg="Please fill out this field" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="input7" class="col-md-2 control-label">Конец дня</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="input7" ng-model="book.work_stop" placeholder="Конец рабочего дня" data-smk-msg="Please fill out this field" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-10 col-md-offset-2">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                <button type="reset" class="btn btn-default">Reset</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $('#form').smkValidate();
                </script>


            </div>
        </div>
    </div>



<script src="bower_components/bootstrap/js/jquery.min.js"></script>
<script src="js/holder.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/bootstrap/js/bootstrap.min.js"></script>
<script src="bower_components/bootstrap/js/material.js"></script>
<script src="bower_components/bootstrap/js/ripples.min.js"></script>
<script src="bower_components/bootstrap/js/smoke.min.js"></script>


<script src="app.js"></script>
<script src="controllers/books.js"></script>
<script src="controllers/genres.js"></script>
<script>
    $.material.init();
</script>

</body>
</html>