<a class="btn btn-danger" href="#/books">Go Back</a>
<div class="panel panel-success">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
            <form class="form-horizontal" id="form" ng-submit="addBook()" novalidate>
                <center><legend><b>Add Book</b></legend></center>
                <fieldset>
                    <div class="form-group">
                        <label for="input1"  class="col-md-2 control-label">Имя</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" id="input1"  ng-model="book.name" placeholder="Имя" data-smk-msg="Please fill out this field" required>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input2" class="col-md-2 control-label">Отчество</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" id="input2" ng-model="book.patronymic" placeholder="Отчество" data-smk-msg="Please fill out this field" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input3" class="col-md-2 control-label">Фамилия</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" id="input3" ng-model="book.surname" placeholder="Фамилия" data-smk-msg="Please fill out this field" required>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select111" class="col-md-2 control-label">Должность</label>

                        <div class="col-md-10">
                            <select id="select111" ng-model="book.genre" class="form-control">
                                <option>Программист</option>
                                <option>Дизайнер</option>
                                <option>Менеджер</option>
                                <option>Персонал</option>
                                <option>Обучающийся</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input4" class="col-md-2 control-label">Пол</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" id="input4" ng-model="book.sex" placeholder="Пол" data-smk-msg="Please fill out this field" required>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input5" class="col-md-2 control-label">Телефон</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" id="input5" ng-model="book.phone" placeholder="Телефон" data-smk-msg="Please fill out this field" required>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input6" class="col-md-2 control-label">Начало рабочего дня</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" id="input6" ng-model="book.work_start" placeholder="Начало рабочего дня" data-smk-msg="Please fill out this field" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input7" class="col-md-2 control-label">Конец рабочего дня</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" id="input7" ng-model="book.work_stop" placeholder="Конец рабочего дня" data-smk-msg="Please fill out this field" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#form').smkValidate();
</script>
