<!--<div class="panel panel-info" ng-init="getBooks()">-->
    <!--<div class="panel-heading" style="color: white"><b>Список работников</b></div>-->
    <!--<div class="panel-body">-->
        <!---->
            <!--<div ng-repeat="book in books">-->
                <!--<div class="col-md-12 animated fadeInUp">-->
                    <!--<div class="col-md-12">-->
                        <!--{{book.name}}-->
                        <!--<p>{{book.surname}}</p>-->
                        <!--<a class="btn btn-raised btn-primary" href="#/books/detail/{{book._id}}">Детальная информация</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-12">-->
                        <!--{{book.work_start}}-->
                    <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="panel " ng-init="getBooks()">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Фамилия</th>
            <th>Должность</th>
            <th>Пол</th>
            <th>Телефон</th>
            <th>Рабочее время</th>
            <th>Изменить</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="book in books | filter: searchKeyword ">

            <td>{{book.name}}</td>
            <td>{{book.patronymic}}</td>
            <td>{{book.surname}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.sex}}</td>
            <td>{{book.phone}}</td>
            <td>{{book.work_start }} – {{book.work_stop}}</td>
            <td>
                <a class="btn btn-raised btn-primary" href="#/books/detail/{{book._id}}">Detail</a>

                <a class="btn btn-raised btn-primary" href="#/books/edit/{{book._id}}">Edit</a>

                 <a class="btn btn-raised btn-primary" ng-click="removeBook(book._id)"  href="#/books/" >Del</a>
        </tr>
        </tbody>
    </table>

    <!--<div id="delModal" class="modal fade" role="dialog">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                    <!--<h4 class="modal-title">Want Delete</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<p>Delete Data</p>-->
                <!--</div>-->

                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <!--<a href="#" ng-click="removeBook(book._id)"><button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button></a>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>