<a class="btn btn-danger" href="#/books">Go Back</a>
<div class="panel panel-success" ng-init="getBook()">
    <div class="panel-heading" style="color: white"><strong>{{book.title}}</strong></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                {{book.name}}
            </div>
            <div class="col-md-8">
                <p>{{book.surname}}</p>

                <ul class="list-group">
                    <li class="list-group-item">Имя: {{book.name}}</li>
                    <li class="list-group-item">Отчество: {{book.patronymic}}</li>
                    <li class="list-group-item">Фамилия: {{book.surname}}</li>
                    <li class="list-group-item">Genres: {{book.genre}}</li>
                    <li class="list-group-item">Пол: {{book.sex}}</li>
                    <li class="list-group-item">Телефон: {{book.phone}}</li>
                    <li class="list-group-item">Начало рабочего дня: {{book.work_start}}</li>
                    <li class="list-group-item">Конец рабочего дня: {{book.work_stop}}</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div class="pull-right">
    <a href="#/books/edit/{{book._id}}">Edit</a> | <a data-toggle="modal" data-target="#myModal">Delete</a>
</div>


