<a class="btn btn-danger" href="#/books">Go Back</a>
<div class="panel panel-success">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" ng-submit="updateBook()" ng-init="getBook()">
                    <legend>Редактировать</legend>
                    <fieldset>

                        <div class="form-group">
                            <label for="input1"  class="col-md-2 control-label">Имя</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="input1"  ng-model="book.name" placeholder="Имя">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="input2" class="col-md-2 control-label">Отчество</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="input2" ng-model="book.patronymic" placeholder="Отчество">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input3" class="col-md-2 control-label">Фамилия</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="input3" ng-model="book.surname" placeholder="Фамилия">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="select111" class="col-md-2 control-label">Должность</label>

                            <div class="col-md-10">
                                <select id="select111" ng-model="book.genre" class="form-control">
                                    <option>Программист</option>
                                    <option>Дизайнер</option>
                                    <option>Менеджер</option>
                                    <option>Персонал</option>
                                    <option>Обучающийся</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input4" class="col-md-2 control-label">Пол</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="input4" ng-model="book.sex" placeholder="Пол">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input5" class="col-md-2 control-label">Телефон</label>

                            <div class="col-md-10">
                                <textarea class="form-control" rows="3" id="input5" ng-model="book.phone" placeholder="Телефон"></textarea>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input6" class="col-md-2 control-label">Начало рабочего дня</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="input6" ng-model="book.work_start" placeholder="Начало рабочего дня">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input7" class="col-md-2 control-label">Конец рабочего дня</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="input7" ng-model="book.work_stop" placeholder="Конец рабочего дня">

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-default">Reset</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>